Set Term = "foot"

placer {
  xstep = 5
  ystep = 5
}

include("winops.widget")

# Scanner sources for external scripts
# Uncomment and configure as needed:
#
# scanner {
#   Exec("./script/cpu_load.sh") {
#     CpuLoad = Grab()
#   }
#   
#   Exec("./script/mem_used.sh") {
#     MemUsed = Grab()
#   }
#   
#   Exec("./script/cpu_temp.sh") {
#     CpuTemp = Grab()
#   }
#   
#   Exec("./script/gpu_info.sh") {
#     GpuInfo = Grab()
#   }
# }

layout "sfwbar" {
  include("startmenu.widget")

  pager {
    rows = 1
    pins = "1","2","3","4"
  }

  taskbar {
    rows = 1
    filter = "workspace"
    group = true
    group cols = 1
    group style = "taskbar_group"
    group labels = true
    group icons = true
    icons = true
    labels = true
    action[3] = Menu "winops"
  }

  # Example custom labels using scanner variables:
  #
  # label {
  #   value = $CpuLoad
  #   style = "cpu"
  # }

  # Spacer - expands to push widgets to the right
  label { css = "* { -GtkWidget-hexpand: true; min-height: 30px; }" }

  tray {
    rows = 1
  }

  include("battery-svg.widget")

  label {
    value = Time("%k:%M:%S")
    style = "clock"
  }
}

#CSS
include("sfwbar.css")
